div{
    background-color: rgba(255, 140, 106, 0.886);
    height: 20px;
    width: 20px;
}

.grid{
   
   
    height: 400px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.previous-grid{
    height: 80px;
    width: 80px;
    display: flex;
    flex-wrap: wrap ;


}

.previous-shape{
    height: 80px;
    width: 80px;

}
.block{

    background-color: rgb(180, 0, 207);
    

} 
.block2{
    background-color: rgb(0, 166, 152);

}


.block3{
    background-color: greenyellow;

}